{% trans_default_domain 'FOSUserBundle' %}

{#<link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">#}
{% block stylesheets %}
    {#{{ encore_entry_link_tags('css/application') }}#}
    <link rel="stylesheet" href="/semantic.min.css">
{% endblock %}

<style type="text/css">
    body {
        background-color: #DADADA;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }

    .aligned.grid{
        margin-top: 50px;
    }
</style>
<script>

</script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        {#<h2 class="ui teal image header">#}
            {#<div class="content">#}
                {#Log-in to your account#}
            {#</div>#}
        {#</h2>#}

        <form class='ui large form' action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input placeholder="Password" type="password" id="password" name="_password" required="required" autocomplete="current-password" />

                    </div>
                </div>


            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

            <input class='ui fluid large teal submit button' type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <div class="ui error message">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </form>

        {#<div class="ui message">#}
            {#Forgot your password? <a href="#"> Click Here</a>#}
        {#</div>#}
    </div>
</div>

