<div class="sixteen wide column" style="padding-left: 100px; padding-right: 10px;">
    <div class="ui text menu margin-no">
        <div class="item">
            <a href="{{ path('report_index') }}" class="item">
                Reports by user
            </a>
        </div>
        <div class="item">
            <a href="{{ path('report_all_reports') }}" class="item">
                All reports
            </a>
        </div>
        <div class="item">
            <a href="{{ path('report_new') }}" class="item">
                Create new report
            </a>
        </div>



        <div class="right menu">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="item">
                    <a href="{{ path('user_index') }}" class="item">
                        Users
                    </a>
                </div>
            {% endif %}
            {% if app.user.username is defined %}
                <div class="ui dropdown item" tabindex="0">
                    <i class="fas fa-user-circle"></i>
                    {% if app.user.username is defined %}
                        {{ app.user.username|capitalize }}
                    {% endif %}
                    <i class="dropdown icon"></i>
                    <div class="menu hidden" tabindex="-1">
                        {#<a class="item" href="#">#}
                            {#<i class="fas fa-user-cog"></i>&nbsp;Profile#}
                        {#</a>#}
                        <a class="item" href="{{ path('fos_user_security_logout') }}">
                            Log Out&nbsp;<i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">log in</a>
            {% endif %}

            {#{% endif %}#}
        </div>
    </div>
</div>