<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="/semantic.min.css">
        {% endblock %}
    </head>
    <body>
            {{ render(controller('App\\Controller\\DefaultController::mainMenuShow')) }}
            {#{% for label, messages in app.flashes %}#}
                {#{% for message in messages %}#}
                    {#<div class="flash-{{ label }}">#}
                        {#{{ message }}#}
                    {#</div>#}
                {#{% endfor %}#}
            {#{% endfor %}#}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="/jquery.min.js"></script>
            <script type="text/javascript" src="/semantic.min.js"></script>
            <script type="text/javascript" src="/script.js"></script>
        {% endblock %}
    </body>
</html>
