{{ form_start(form) }}
<div class="ui container">
    <div class="ui form mini form-bacground">
        <div class="ui horizontal divider">Create new User</div>
        <div class="ui card fluid">
        <div class="content">
            <div class="description">
                <div class="two fields">
                    <div class="field">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'class': 'ui fluid'} }) }}
                    </div>
                    <div class="field">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, { 'attr': {'class': 'amount ui fluid'} }) }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label for="user_type" class="required">Role</label>
                        {{ form_widget(form.type, { 'attr': {'class': 'ui fluid dropdown selection'} }) }}
                    </div>
                    <div class="field">
                        {#<div class="ui checkbox">#}
                        {{ form_label(form.enabled) }}
                        {{ form_widget(form.enabled, { 'attr': {'class': 'ui checkbox'} }) }}
                        {#</div>#}
                    </div>
                </div>
            </div>
            <br>
            <div class="ui buttons right floated">
                <button class="ui positive right button btn">{{ button_label|default('Create user') }}</button>
            </div>
            <a class="ui black button btn" href="{{ path('report_index') }}">back</a>
        </div>
    </div>
    </div>
</div>

{{ form_end(form) }}
