{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    {{ include('user/_editForm.html.twig', {'button_label': 'Update'}) }}

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
