{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="ui horizontal divider">User index</div>
    <div class="container">
        <div class="content">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {#{% set foo, userIf =  %}#}
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.type }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="14">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="ui buttons right floated">
                <a class="ui positive center button btn" href="{{ path('user_new') }}">Create user</a>
            </div>
        </div>
    </div>
{% endblock %}
