{{ form_start(form) }}
<div class="ui container">
    <div class="ui form">
        <div class="content">
            <div class="description">
                <div class="fields">
                    <table class="ui table">
                        <tr>
                            <td width="60%">
                                <h3>Project Name</h3>
                            </td>
                            <td>
                                <h3>Hours</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EBS - Splitting
                            </td>
                            <td>
                                {{ form_widget(form.ebs_splitting, { 'attr': {'class': 'ui'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EBS - Posting
                            </td>
                            <td>
                                {{ form_widget(form.ebs_posting, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EBS - Arbs
                            </td>
                            <td>
                                {{ form_widget(form.ebs_arbs, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prestige - Splitting
                            </td>
                            <td>
                                {{ form_widget(form.prestige_splitting, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prestige - Posting
                            <td>
                                {{ form_widget(form.prestige_posting, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prestige - Arbs
                            </td>
                            <td>
                                {{ form_widget(form.prestige_arbs, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Outcome Assessments
                            <td>
                                {{ form_widget(form.outcome_assessments, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cure MD
                            </td>
                            <td>
                                {{ form_widget(form.cure_md, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HB - Arbs
                            </td>
                            <td>
                                {{ form_widget(form.hb_arbs, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HB - litigations
                            </td>
                            <td>
                                {{ form_widget(form.hb_litigations, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HB - Verification Request
                            </td>
                            <td>
                                {{ form_widget(form.hb_verification_requests, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HB - Denials
                            </td>
                            <td>
                                {{ form_widget(form.hb_denials, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HB - Initiation Letters
                            </td>
                            <td>
                                {{ form_widget(form.hb_initiation_letters, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Jason Gallinna - Splitting
                            </td>
                            <td>
                                {{ form_widget(form.jason_gallinna_splitting, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Metro - Arbs
                            </td>
                            <td>
                                {{ form_widget(form.metro_arbs, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Metro - Mail
                            </td>
                            <td>
                                {{ form_widget(form.metro_mail, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_widget(form.other, { 'attr': {'class': 'ui fluid', 'placeholder' : 'Other'} }) }}
                            </td>
                            <td>
                                {{ form_widget(form.other_time, { 'attr': {'class': 'ui fluid'} }) }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="ui buttons right floated">
                    <button class="ui positive right button btn">{{ button_label|default('Create report') }}</button>
                </div>
                <a class="ui black button btn" href="{{ path('report_index') }}">back</a>



            </div>
        </div>

    </div>

</div>
{{ form_end(form) }}

