{% extends 'base.html.twig' %}

{% block title %}Edit Report{% endblock %}

{% block body %}
    <div class="ui horizontal divider">Edit Report from {{ reportdate|date("m/d/Y") }}</div>

    {{ include('report/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('report_index') }}">back to list</a>#}

    {#{{ include('report/_delete_form.html.twig') }}#}
{% endblock %}
