{% extends 'base.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="ui horizontal divider">Report index</div>
    <div class="container">
        <div class="content">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>EBS - Splitting</th>
                    <th>EBS - Posting</th>
                    <th>EBS - Arbs</th>
                    <th>Prestige - Splitting</th>
                    <th>Prestige - Posting</th>
                    <th>Prestige - Arbs</th>
                    <th>Outcome Assessments</th>
                    <th>Cure MD</th>
                    <th>HB - Arbs</th>
                    <th>HB - litigations</th>
                    <th>HB - Verification Request</th>
                    <th>HB - Denials</th>
                    <th>HB - Initiation Letters</th>
                    <th>Jason Gallinna - Splitting</th>
                    <th>Metro - Arbs</th>
                    <th>Metro - Mail</th>
                    <th>Other</th>
                    {#<th>Other Hours</th>#}
                    <th>date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.userId }}</td>
                        <td>{{ report.ebsSplitting }}</td>
                        <td>{{ report.ebsPosting }}</td>
                        <td>{{ report.ebsArbs }}</td>
                        <td>{{ report.prestigeSplitting }}</td>
                        <td>{{ report.prestigePosting }}</td>
                        <td>{{ report.prestigeArbs }}</td>
                        <td>{{ report.outcomeAssessments }}</td>
                        <td>{{ report.cureMd }}</td>
                        <td>{{ report.hbArbs }}</td>
                        <td>{{ report.hbLitigations }}</td>
                        <td>{{ report.hbVerificationRequests }}</td>
                        <td>{{ report.hbDenials }}</td>
                        <td>{{ report.hbInitiationLetters }}</td>
                        <td>{{ report.jasonGallinnaSplitting }}</td>
                        <td>{{ report.metroArbs }}</td>
                        <td>{{ report.metroMail }}</td>
                        <td>
                            {% if report.other is defined and report.otherTime %}
                                {{ report.other }} - {{ report.otherTime }}
                            {% endif %}
                        </td>
                        <td>{{ report.Reportdate|date("m/d/Y") }}</td>
                        {#<td>{{ report.otherTime }}</td>#}
                        <td>
                            <a href="{{ path('report_show', {'id': report.id}) }}">show</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>
                            {% elseif is_granted('ROLE_ADMIN') %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="20">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="ui buttons right floated">
                <a class="ui positive center button btn" href="{{ path('report_new') }}">Create new</a>
            </div>
        </div>
    </div>


{% endblock %}
