{% extends 'base.html.twig' %}
{% block title %}Report index{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="ui horizontal divider">Report</div>
    {#<form name="reportDate" method="post">#}
    <form name="" method="GET">
        <label for="fromDate">from</label>
        <input type="date" id="fromDate" name="fromDate">
        <label for="toDate">to</label>
        <input type="date" id="toDate" name="toDate">
        <button type="submit"  id="sbmt-btn">submit</button>
    </form>
    {#{% if fromDate is defined %}#}
        {#fromDate -  {{ fromDate }}#}
    {#{% endif %}#}
    {#{% if toDate is defined %}#}
        {#toDate - {{ toDate }}#}
    {#{% endif %}#}

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>EBS - Splitting</th>
            <th>EBS - Posting</th>
            <th>EBS - Arbs</th>
            <th>Prestige - Splitting</th>
            <th>Prestige - Posting</th>
            <th>Prestige - Arbs</th>
            <th>Outcome Assessments</th>
            <th>Cure MD</th>
            <th>HB - Arbs</th>
            <th>HB - litigations</th>
            <th>HB - Verification Request</th>
            <th>HB - Denials</th>
            <th>HB - Initiation Letters</th>
            <th>Jason Gallinna - Splitting</th>
            <th>Metro - Arbs</th>
            <th>Metro - Mail</th>
            {#<th>Other</th>#}
            {#<th>date</th>#}
            {#<th>actions</th>#}
        </tr>
        </thead>
        <tbody>




        {% set ebsSplitting = 0 %}
        {% set ebsPosting = 0 %}
        {% set ebsArbs = 0 %}
        {% set prestigeSplitting = 0 %}
        {% set prestigePosting = 0 %}
        {% set prestigeArbs = 0 %}
        {% set outcomeAssessments = 0 %}
        {% set cureMd = 0 %}
        {% set hbArbs = 0 %}
        {% set hbLitigations = 0 %}
        {% set hbVerificationRequests = 0 %}
        {% set hbDenials = 0 %}
        {% set hbInitiationLetters = 0 %}
        {% set jasonGallinnaSplitting = 0 %}
        {% set metroArbs = 0 %}
        {% set metroMail = 0 %}
        {% for user in users %}
            {% set ebsSplitting = 0 %}
            {% set ebsPosting = 0 %}
            {% set ebsArbs = 0 %}
            {% set prestigeSplitting = 0 %}
            {% set prestigePosting = 0 %}
            {% set prestigeArbs = 0 %}
            {% set outcomeAssessments = 0 %}
            {% set cureMd = 0 %}
            {% set hbArbs = 0 %}
            {% set hbLitigations = 0 %}
            {% set hbVerificationRequests = 0 %}
            {% set hbDenials = 0 %}
            {% set hbInitiationLetters = 0 %}
            {% set jasonGallinnaSplitting = 0 %}
            {% set metroArbs = 0 %}
            {% set metroMail = 0 %}
            {% for report in reports %}
                {% if user == report.userId %}
                    {#{% if fromDate is defined and toDate is defined %}#}
                        {#{% if report.date >= fromDate and report.date <= toDate %}#}
                            {% set ebsSplitting = ebsSplitting + report.ebsSplitting %}
                            {% set ebsPosting   = ebsPosting   + report.ebsPosting %}
                            {% set ebsArbs = ebsArbs + report.ebsArbs %}
                            {% set prestigeSplitting = prestigeSplitting + report.prestigeSplitting %}
                            {% set prestigePosting = prestigePosting + report.prestigePosting %}
                            {% set prestigeArbs = prestigeArbs + report.prestigeArbs %}
                            {% set outcomeAssessments = outcomeAssessments + report.outcomeAssessments %}
                            {% set cureMd = cureMd + report.cureMd %}
                            {% set hbArbs = hbArbs + report.hbArbs %}
                            {% set hbLitigations = hbLitigations + report.hbLitigations %}
                            {% set hbVerificationRequests = hbVerificationRequests + report.hbVerificationRequests %}
                            {% set hbDenials = hbDenials + report.hbDenials %}
                            {% set hbInitiationLetters = hbInitiationLetters + report.hbInitiationLetters %}
                            {% set jasonGallinnaSplitting = jasonGallinnaSplitting + report.jasonGallinnaSplitting %}
                            {% set metroArbs = metroArbs + report.metroArbs %}
                            {% set metroMail = metroMail + report.metroMail %}
                        {#{% endif %}#}
                    {#{% endif %}#}

                    {#{% set ebsSplitting = ebsSplitting + report.ebsSplitting %}#}
                    {#{% set ebsPosting   = ebsPosting   + report.ebsPosting %}#}
                    {#{% set ebsArbs = ebsArbs + report.ebsArbs %}#}
                    {#{% set prestigeSplitting = prestigeSplitting + report.prestigeSplitting %}#}
                    {#{% set prestigePosting = prestigePosting + report.prestigePosting %}#}
                    {#{% set prestigeArbs = prestigeArbs + report.prestigeArbs %}#}
                    {#{% set outcomeAssessments = outcomeAssessments + report.outcomeAssessments %}#}
                    {#{% set cureMd = cureMd + report.cureMd %}#}
                    {#{% set hbArbs = hbArbs + report.hbArbs %}#}
                    {#{% set hbLitigations = hbLitigations + report.hbLitigations %}#}
                    {#{% set hbVerificationRequests = hbVerificationRequests + report.hbVerificationRequests %}#}
                    {#{% set hbDenials = hbDenials + report.hbDenials %}#}
                    {#{% set hbInitiationLetters = hbInitiationLetters + report.hbInitiationLetters %}#}
                    {#{% set jasonGallinnaSplitting = jasonGallinnaSplitting + report.jasonGallinnaSplitting %}#}
                    {#{% set metroArbs = metroArbs + report.metroArbs %}#}
                    {#{% set metroMail = metroMail + report.metroMail %}#}
                {% endif %}
            {% endfor %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ ebsSplitting }}</td>
                <td>{{ ebsPosting }}</td>
                <td>{{ ebsArbs }}</td>
                <td>{{ prestigeSplitting }}</td>
                <td>{{ prestigePosting }}</td>
                <td>{{ prestigeArbs }}</td>
                <td>{{ outcomeAssessments }}</td>
                <td>{{ cureMd }}</td>
                <td>{{ hbArbs }}</td>
                <td>{{ hbLitigations }}</td>
                <td>{{ hbVerificationRequests }}</td>
                <td>{{ hbDenials }}</td>
                <td>{{ hbInitiationLetters }}</td>
                <td>{{ jasonGallinnaSplitting }}</td>
                <td>{{ metroArbs }}</td>
                <td>{{ metroMail }}</td>
                {#{% for report in reports %}#}
                    {#<td>{{ report.date|date("m/d/Y") }}</td>#}
                    {#<td>action</td>#}
                    {#<td>action</td>#}
                {#{% endfor %}#}
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="ui buttons right floated">
        <a class="ui positive center button btn" href="{{ path('report_new') }}">Create new</a>
    </div>

{% endblock %}
