{% extends 'base.html.twig' %}

{% block title %}New Report{% endblock %}

{% block body %}
    <div class="ui horizontal divider">Create New Report</div>
    {{ include('report/_form.html.twig') }}

    {#<a href="{{ path('report_index') }}">back to list</a>#}
{% endblock %}
