{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="ui form mini form-bacground">
    <div class="content">
        <div class="description">
            <div class="six diagnosis fields">
                <div class="field">
                    <h1>Report</h1>
                    <div class="ui horizontal divider">
                        <table class="ui table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ report.id }}</td>
                            </tr>
                            <tr>
                                <th>Ebs_splitting</th>
                                <td>{{ report.ebsSplitting }}</td>
                            </tr>
                            <tr>
                                <th>Ebs_posting</th>
                                <td>{{ report.ebsPosting }}</td>
                            </tr>
                            <tr>
                                <th>Ebs_arbs</th>
                                <td>{{ report.ebsArbs }}</td>
                            </tr>
                            <tr>
                                <th>Prestige_splitting</th>
                                <td>{{ report.prestigeSplitting }}</td>
                            </tr>
                            <tr>
                                <th>Prestige_posting</th>
                                <td>{{ report.prestigePosting }}</td>
                            </tr>
                            <tr>
                                <th>Prestige_arbs</th>
                                <td>{{ report.prestigeArbs }}</td>
                            </tr>
                            <tr>
                                <th>Outcome_assessments</th>
                                <td>{{ report.outcomeAssessments }}</td>
                            </tr>
                            <tr>
                                <th>Cure_md</th>
                                <td>{{ report.cureMd }}</td>
                            </tr>
                            <tr>
                                <th>Hb_arbs</th>
                                <td>{{ report.hbArbs }}</td>
                            </tr>
                            <tr>
                                <th>Hb_litigations</th>
                                <td>{{ report.hbLitigations }}</td>
                            </tr>
                            <tr>
                                <th>Hb_verification_requests</th>
                                <td>{{ report.hbVerificationRequests }}</td>
                            </tr>
                            <tr>
                                <th>Hb_denials</th>
                                <td>{{ report.hbDenials }}</td>
                            </tr>
                            <tr>
                                <th>Hb_initiation_letters</th>
                                <td>{{ report.hbInitiationLetters }}</td>
                            </tr>
                            <tr>
                                <th>Jason_gallinna_splitting</th>
                                <td>{{ report.jasonGallinnaSplitting }}</td>
                            </tr>
                            <tr>
                                <th>Metro_arbs</th>
                                <td>{{ report.metroArbs }}</td>
                            </tr>
                            <tr>
                                <th>Metro_mail</th>
                                <td>{{ report.metroMail }}</td>
                            </tr>
                            <tr>
                                <th>Other</th>
                                <td>{{ report.other }}</td>
                            </tr>
                            <tr>
                                <th>Other_time</th>
                                <td>{{ report.otherTime }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <a href="{{ path('report_index') }}">back to list</a>

                        <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>

                        {{ include('report/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>




</div>

{% endblock %}
